.container {
  padding: 5px;
}

.changePasswordButton {
  font-size: 12px;
}

.dialog {
  text-align: center;
  width: 90%;
  max-width: 400px; 
}

@media (min-width: 300px) {
  .dialog {
    width: 90%;
    max-width: 600px;
  }
}

@media (min-width: 1043px) {
  .dialog {
    width: 35%;
    max-width: 700px;
  }
}

.input{
  width: 90% !important;
}

.inputContainer :global(.p-password .p-inputtext) {
  width: 100% !important;
}

.inputLabel {
  left: 2rem;
  /* width: 100%;  */
}

.inputContainer {
  display: inline-flex;
  width: 100%; 
  justify-content: center;
}

.buttonContainer {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.error {
  color: red;
  font-size: 12px;
}