.dialog-content {
  font-size: 13px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.form-container {
  text-align: center;
}

.input-container {
  display: inline-flex;
}

.error {
  color: red;
  font-size: 12px;
}